{% extends "base.html" %}
 
 {% block title %}
    Contact - SE
 {% endblock %}
 
 {% block content %}
    <h1>Contact Us</h1>

    <h2>Contact us on these platforms:</h2>

    <div style="display: flex; align-items: center;">
  <a href="https://discord.gg/qCvRKvkkpw">
  <figure class="d-inline-block text-center m-2">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F018%2F930%2F718%2Foriginal%2Fdiscord-logo-discord-icon-transparent-free-png.png&f=1&nofb=1&ipt=4a6f84c33cd5371e3151a6855eeaa35c599c19442cb0aed81375b796b00a5724" alt="Discord" style="border-radius:10px;width:120px;height:120px;">
    <figcaption class="small text-muted">Discord</figcaption>
  </figure>
  </a>

  <a href="mailto:return.gourds.2p@icloud.com">
  <figure class="d-inline-block text-center m-2">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F020%2F009%2F612%2Foriginal%2Femail-and-mail-icon-black-free-png.png&f=1&nofb=1&ipt=25eb08e4898b7408c9be38b8a6fcdf66f88b61d363ffce0aa208ca26a9f0b47b" alt="Mail" style="border-radius:10px;width:120px;height:120px;">
    <figcaption class="small text-muted">E-Mail</figcaption>
  </figure>
  </a>
    </div>

 {% endblock %}