{% extends "base.html" %}

 {% block title %}
  Home - SE
 {% endblock %}

{% block content %}
  <h1>Welcome to Sandbox Escape</h1>
  <p>Sandbox Escape is a development team focused on web, macOS, GNU/Linux, iOS and Android development</p>
  <br>
  <h1>
    Members:
  </h1>

  <a href="https://github.com/ponderdev">
  <figure class="d-inline-block text-center m-2">
    <img src="https://avatars.githubusercontent.com/u/150511953?s=96&v=4" alt="Ponder" style="border-radius:10px;width:96px;height:96px;">
    <figcaption class="small text-muted">Ponder</figcaption>
  </figure>
  </a>

  <a href="https://github.com/enkei64">
  <figure class="d-inline-block text-center m-2">
    <img src="https://avatars.githubusercontent.com/u/192054069?s=96&v=4" alt="Enkei64" style="border-radius:10px;width:96px;height:96px;">
    <figcaption class="small text-muted">Enkei64</figcaption>
  </figure>
  </a>

{% endblock %}